
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
  body {
      font-family: 'Noto Sans KR', sans-serif;
    }
  .head{
    padding-top: 10px;
  width: 1905px;
  height: 250px;
}
.banner{
  width: 1905px;
  height: 250px;
}
.path{
  position: absolute;
  top:255px;
  background-color: rgba(33,33,33,0.8);
  width: 1905px;
  height: 70px;
}

#path_text{
  color: rgba(255,255,255,0.7);
  padding-top: 20px;
padding-left: 400px;
font-size: 20px;
}
.main{
  width: 1900px;
  padding-left: 350px;
  height: 900px;
  padding-right: 300px;
}
#title{
  color:#000;
  font-size: 15px;
}
span{
  padding-right: 5px;
  color: #CC723D;
}
     #content_text{
       padding-top: 50px;
       padding-left: 40px;
       font-size: 30px;
     }

.can{
  font-size: 20px;
}
.form-control{
  font-size: 15px;
}
.btnback{
  position: absolute;
  top:1080px;
  left: 1010px;
  width: 200px;
  height: 70px;
  background-color:  #CC723D;
  border:none;
  padding-top: 20px;
  text-align: center;
  color:#fff;
  font-size: 20px;
}
.btnback:hover{
color:  #CC723D;
background-color:  #fff;
border:3px solid #CC723D;
text-decoration: none;
}
.btnsubmit{
  position: absolute;
  top:1080px;
  left: 730px;
  width: 200px;
  height: 70px;
  background-color:  #CC723D;
  border:none;
  color:#fff;
  font-size: 20px;
}
.btnsubmit:hover{
color:  #CC723D;
background-color:  #fff;
border:3px solid #CC723D;
}
</style>
  <body>
    <%- include('../partials/nav') %>


    <div class="head">
      <img class="banner" src="/img/head.png">
      <div class="path"><p id="path_text"><span class="glyphicon glyphicon-home"></span>
          ＞ Community ＞ 질문 게시판 ＞ 게시물 수정 </p></div>
    </div>

      <div class="main">
        <p id="content_text"><span class="glyphicon glyphicon-cog"></span>
          게시물 수정</p>

          <hr>
          <div class="container mb-3">

            <form action="/posts2/edit/<%= data.QNO %>" method="post">
                <div class="form-group">
                    <p class="can" for="title"><span class="glyphicon glyphicon-grain"></span>제목</p><input type="text" id="title" name="title" value="<%= data.title %>" class="form-control">
                </div>

                <div class="form-group">
                  <p class="can" for="body"><span class="glyphicon glyphicon-grain"></span>내용</p>
                  <textarea id="content" name="content" rows="5" class="form-control"><%= data.content %></textarea>
                </div>


                <div class="form-group">
                  <a class="btnback" href="/posts2/index">목록</a>
                  <button type="submit" class="btnsubmit">수정</button> 
                </div>
              </form>
          </div>
        </div>

    <%- include('../partials/footer') %>




  </body>
</html>
