<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>
<style>
  .head {
    padding-top: 10px;
    width: 1905px;
    height: 250px;
  }
  .banner {
    width: 1905px;
    height: 250px;
  }
  .path {
    position: absolute;
    top: 255px;
    background-color: rgba(33, 33, 33, 0.8);
    width: 1905px;
    height: 70px;
  }

  #path_text {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-left: 600px;
    font-size: 20px;
  }

  .main {
    width: 1900px;
    padding-left: 500px;
    height: 1220px;
    padding-right: 300px;
  }

  #title {
    padding-left: 100px;
    padding-top: 50px;
    color: #000;
    font-size: 40px;
  }

  .menu {
    position: absolute;
    top: 255px;
    left: 280px;
    height: 1280px;
    width: 270px;
    background-color: #fff;
    border: 0.2px solid;
    border-color: rgba(69, 69, 69, 0.2);
  }

  .menutitle {
    padding-bottom: 27px;
  }

  .menubtn {
    background-color: yellow;
    height: 100px;
    padding: 20px 121px;
  }

  #mini {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
  }

  span {
    padding-right: 5px;
    color: #CC723D;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #E6E6E6;
  }

  li a {
    font-size: 16px;
    display: block;
    color: #000;
    padding: 20px 20px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #CC723D;
    color: white;
    text-decoration:none;
  }

  #content_text {
    padding-left: 40px;
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 20px;
  }


  .col-sm-3{
    padding-left: 100px;
    width: 330px;
   font-size: 20px;
  }
.col-sm-9{
  padding-left: 50px;
  padding-bottom: 15px;
}
  .form-control {
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding-left: 25px;
  }
  .signbtn{
    position: absolute;
    top:1280px;
    left: 1430px;
    width: 200px;
    height: 70px;
    background-color:  #CC723D;
    border:none;
    color:#fff;
    font-size: 20px;
  }
  .signbtn:hover{
  color:  #CC723D;
  background-color:  #fff;
  border:3px solid #CC723D;
  }
</style>
<body>
  <%- include('../partials/nav') %>

  <div class="head">
    <img class="banner" src="/img/head.png">
    <div class="path">
      <p id="path_text"><span class="glyphicon glyphicon-home"></span>
        ＞ 내 정보 ＞회원정보 수정 </p>
    </div>
  </div>

  <div class="main">
    <p id="title">회원정보 수정</p>
    <hr>
    <div class="container mb-3">
      <form action="/users/<%= data.id %>?_method=put" method="post">
        <fieldset disabled>
        <hr></hr>
        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">아이디*</label>
          <div class="col-sm-9">
            <input type="text" id="username" name="username" value="<%= data[0].id %>" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">성명*</label>
          <div class="col-sm-9">
            <input type="text" id="name" name="name" value="<%= data[0].name %>" class="form-control">
          </div>
        </div>
      </fieldset>

        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">이메일</label>
          <div class="col-sm-9">
            <input type="text" id="email" name="email" value="<%= data[0].email %>" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="newPassword" class="col-sm-3 col-form-label">새 비밀번호</label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="password" id="newPassword" name="newPassword" value="" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="passwordConfirmation" class="col-sm-3 col-form-label">새 비밀번호 확인</label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="" class="form-control">
          </div>
        </div>
        <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">전화번호*</label>
                <div class="col-sm-9">
                  <input type="text" id="phone" name="phone" placeholder="예)01012345678" value="<%= data[0].phone %>" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="address" class="col-sm-3 col-form-label">주소*</label>
                <div class="col-sm-9">
                  <textarea id="address" name="address" value="<%= data[0].address %>" class="form-control" rows="2" cols="80"></textarea>

                </div>
              </div>

              <div class="form-group row">
                <label for="birth" class="col-sm-3 col-form-label" >생년월일*</label>
                <div class="col-sm-9">
                  <input type="text" id="birth" name="birth" placeholder="예)991010" value="<%= data[0].birth %>" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label" >성별*</label>
                <div class="col-sm-9">
                  <input type="text" id="gender"  name="gender" value="<%= data[0].gender %>" class="form-control">
                </div>
              </div>


        <div class="buttons">
          <button type="submit" class="signbtn">확인</button>
        </div>

      </form>

    </div>
    <div class="menu">
      <div class="menutitle">
        <p id="mini">내 정보</p>
        <hr width="180px" style="border: solid 2px #CC723D">
      </div>
      <div id="side_left">
        <ul>
          <li><a href="/users/<%= currentUser.username %>">
              ▶ 내 정보</a></li>

        </ul>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>

</body>

</html>
